# 處理 outliers
* 新增欄位註記
* outliers 或 NA 填補
    1. 平均數 (mean)
    2. 中位數 (median, or Q50)
    3. 最大/最小值 (max/min, Q100, Q0)
    4. 分位數 (quantile)

# [作業目標]
- 仿造範例的資料操作, 試著進行指定的離群值處理

# [作業重點]
- 計算 AMT_ANNUITY 的分位點 (q0 - q100) (Hint : np.percentile, In[3])
- 將 AMT_ANNUITY 的 NaN 用中位數取代 (Hint : q50, In[4])
- 將 AMT_ANNUITY 數值轉換到 -1 ~ 1 之間 (Hint : 參考範例, In[5])
- 將 AMT_GOOD_PRICE 的 NaN 用眾數取代 (In[6])

In [15]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# 設定 data_path
dir_data = './data/'

In [16]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ./data/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 1. 列出 AMT_ANNUITY 的 q0 - q100
## 2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補
## 2.2 將 AMT_ANNUITY 的數值標準化至 -1 ~ 1 間
## 3. 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

In [17]:
"""
YOUR CODE HERE
"""
# 1: 計算 AMT_ANNUITY 的 q0 - q100
q_all = app_train['AMT_ANNUITY'].quantile(np.linspace(0, 1, 101))

quantiles = pd.DataFrame({'q': list(range(101)),
              'value': q_all})
quantiles

        q       value
0.00    0    2052.000
0.01    1    6104.925
0.02    2    6750.000
0.03    3    7834.050
0.04    4    8550.000
0.05    5    9000.000
0.06    6    9000.000
0.07    7    9436.500
0.08    8   10125.000
0.09    9   10425.825
0.10   10   10953.000
0.11   11   11290.500
0.12   12   11893.500
0.13   13   12375.000
0.14   14   12757.500
0.15   15   13257.000
0.16   16   13500.000
0.17   17   13500.000
0.18   18   13813.650
0.19   19   14235.075
0.20   20   14661.000
0.21   21   15052.500
0.22   22   15498.000
0.23   23   15952.500
0.24   24   16177.500
0.25   25   16506.000
0.26   26   16852.500
0.27   27   17145.450
0.28   28   17536.500
0.29   29   17851.500
...   ...         ...
0.71   71   32531.175
0.72   72   32913.000
0.73   73   33394.500
0.74   74   34119.000
0.75   75   34678.125
0.76   76   35416.800
0.77   77   35869.500
0.78   78   36432.000
0.79   79   36864.000
0.80   80   37669.500
0.81   81   38107.350
0.82   82   38591.100
0.83   83   39474.000
0.84   84   40216.500
0.85   85   40941.000
0.86   86   42055.650
0.87   87   42790.500
0.88   88   43839.000
0.89   89   45000.000
0.90   90   46044.000
0.91   91   47210.850
0.92   92   48501.000
0.93   93   49888.125
0.94   94   51543.000
0.95   95   53242.875
0.96   96   55507.500
0.97   97   58500.000
0.98   98   62770.500
0.99   99   69930.450
1.00  100  258025.500

[101 rows x 2 columns]

In [18]:
# 2.1 將 NAs 以 q50 填補
print("Before replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

"""
Your Code Here
"""
q_50 = list(q_all)[50]
app_train.loc[app_train['AMT_ANNUITY'].isnull(),'AMT_ANNUITY'] = q_50

print("After replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

Before replace NAs, numbers of row that AMT_ANNUITY is NAs: 0
After replace NAs, numbers of row that AMT_ANNUITY is NAs: 0

### Hints: Normalize function (to -1 ~ 1)
$ y = 2*(\frac{x - min(x)}{max(x) - min(x)} - 0.5) $

In [20]:
# 2.2 Normalize values to -1 to 1
print("== Original data range ==")
print(app_train['AMT_ANNUITY'].describe())

def normalize_value(x):
    """
    Your Code Here, compelete this function
    """
    x = 2 * (((x - x.min()) / (x.max() - x.min())) - 0.5)
    
    return x

app_train['AMT_ANNUITY_NORMALIZED'] = normalize_value(app_train['AMT_ANNUITY'])

print("== Normalized data range ==")
app_train['AMT_ANNUITY_NORMALIZED'].describe()

== Original data range ==
count     27166.000000
mean      27157.110230
std       14653.348609
min        2052.000000
25%       16506.000000
50%       24997.500000
75%       34678.125000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
== Normalized data range ==

count    27166.000000
mean        -0.803846
std          0.114491
min         -1.000000
25%         -0.887066
50%         -0.820720
75%         -0.745082
max          1.000000
Name: AMT_ANNUITY_NORMALIZED, dtype: float64

In [21]:
# 3
print("Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

# 列出重複最多的數值
"""
Your Code Here
"""
value_most = app_train['AMT_GOODS_PRICE'].mode()
print(value_most)

mode_goods_price = list(app_train['AMT_GOODS_PRICE'].value_counts().index)
app_train.loc[app_train['AMT_GOODS_PRICE'].isnull(), 'AMT_GOODS_PRICE'] = mode_goods_price[0]

print("After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 22
0    450000.0
dtype: float64
After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0